<!DOCTYPE html>
<head>

</head>
<body id='app'>
  <div style="display: flex; flex-direction:row;">
    <p>오늘 만든 프사 갯수&nbsp;</p>
    <p id='total'>0</p>
    <br/>
  </div>
  <div style="display: flex; align-items: center;">
    <p>이미지 크기 :&nbsp;</p>
    <select style="height: 10%;" id='size'>
      <option value='20'>20px</option>
      <option value='30'>30px</option>
      <option value='40'>40px</option>
      <option value='50'>50px</option>
    </select>
  </div>
  <div style="display: flex; align-items: center;">
    <p>조각 갯수 :&nbsp;</p>
    <select style="height: 10%;" id='number'>
      <option value='5'>5 X 5</option>
      <option value='10'>10 x 10</option>
    </select>
  </div>
  <button id='create'>이미지 만들기!</button>
  <p>- 결과 이미지 -</p>
  <div id='imgzone'></div>
  <p>- 결과 이미지 URL -</p>
  <div id='urlzone'></div>
  <button id='copy'>URL 복사하기</button>
  <script src='/javascripts/index.js'></script>
</body>