<!DOCTYPE html>
<head>

</head>
<body id='app'>
  <div style="display: flex; align-items: center;">
    <p>Image Size :&nbsp;</p>
    <select style="height: 10%;" id='size'>
      <option value='20'>20px</option>
      <option value='30'>30px</option>
      <option value='40'>40px</option>
      <option value='50'>50px</option>
    </select>
  </div>
  <div style="display: flex; align-items: center;">
    <p>Number of pieces :&nbsp;</p>
    <select style="height: 10%;" id='number'>
      <option value='5'>5 X 5</option>
      <option value='10'>10 x 10</option>
    </select>
  </div>
  <button id='create'>Create Image!</button>
  <button id='save'>Save Image!</button>
  <p>- Result Image -</p>
  <div id='imgzone'></div>
  <script src='/javascripts/index.js'></script>
</body>